* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 70px;
  color: #006c90;
}

#input-container {
  text-align: center;
}

#create-btn {
  color: white;
  border-color: #008CBA;
  background-color: #008CBA;
  height: 30px;
  width: 70px;
}

#url {
  width: 400px;
  height: 30px;
  margin-right: -7px;
}

#short-container {
  text-align: center;
}

#short {
  text-align: center;
}

#short-container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

#copy-btn {
  margin: auto 10px;
}
